/*
dark blue:#264653;
light blue:#2a9d8f;
yet yellow:#e9c46a;
peach:#f4a261;
pink:#e76f51;
xtra light blue: #A5FFE9;
*/


/*fuente*/

html {
    font-family: 'Fira Sans', sans-serif;
}

.container {
    background: #00b09b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96c93d, #00b09b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-height: 450px;
    max-width: 80%;
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px rgba(0, 0, 0, 0.16), 0 4px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    position: relative;
    padding: 1em;
    overflow: overlay;
    margin-top: 5em;
    margin-bottom: 5em;
}

.title {
    text-transform: uppercase;
    text-align: center;
}

a {
    text-decoration: none;
    color: #e76f51;
}

img {
    max-width: 100%;
}

.table th {
    line-height: 1.5em;
    text-align: left;
    padding: 1em;
    background-color: #A5FFE9;
    display: none;
}

.table td {
    line-height: 1.5em;
    padding: 1em;
    display: block;
}

td:nth-of-type(1) {
    background-color: #264653;
    color: white;
    padding: 0.5em;
    border-radius: 4px;
}

table {
    width: 100%;
    border-spacing: 0;
}

.table tr:nth-child(even) {
    background-color: #A5FFE9
}

.score {
    color: #FFF100;
}

.title-item {
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #2a9d8f;
    padding-bottom: 1em;
    padding-left: 1em;
    margin-top: 1.5em;
}

.ranking {
    background-color: #264653;
    color: white;
    padding: 0.5em;
    border-radius: 4px;
}

.name-item {
    padding-left: 0.5em;
    text-transform: uppercase;
    font-size: 1.3em;
    display: inline-block;
    margin-top: 0.5em;
}

.information {
    padding: 0 1em 0 1em;
}

.close {
    padding: 0.7em 0.9em;
    background-color: yellowgreen;
    color: white;
    border-radius: 100%;
    position: absolute;
    right: 1em;
    top: 1em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    margin-bottom: 0.5em;
}

a:hover {
    opacity: 0.7;
}

.table a:visited {
    color: #e9c46a;
}

a:active {
    color: #264653;
}

.mainImage {
    float: left;
    margin-right: 1em;
    height: 280px;
}

.information {
    line-height: 1.5em;
}

.mainImageBlo {
    float: left;
    margin-right: 1em;
    height: 180px;
}

.spects {
    display: inline-block;
    padding-left: 1em;
}

@media(min-width:500px) {
    .contain {
        width: 450px;
        padding: 1.5em;
    }
    .title-item {
        margin-top: 0;
    }
}

@media(min-height:650px) {
    .content {
        max-height: 80vh;
    }
}

@media(min-height:830px) {
    .content {
        max-height: 420px;
    }
}

@media(min-width:580px) {
    .table td {
        display: table-cell;
    }
    .table th {
        display: revert;
    }
    td:nth-of-type(1) {
        background-color: revert;
        color: revert;
        border-radius: 0;
    }
}